@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&display=swap');

th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: lightgray;
}

td {
  font-family: 'Roboto Condensed', sans-serif;
  vertical-align: middle !important;
}

.pointer {
  cursor: pointer;
}

.sticky-on-page {
  position: sticky;
  top: 0;
  z-index: 2;
}


/* Annimations */
.slide-down {
  animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes scale-in-hor-center {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
